// FONTS
@import "_mixins.scss";
@include font-face("Linotte-Light", '../fonts/Linotte-Light');
@include font-face("Linotte-Regular", '../fonts/Linotte-Regular');
@include font-face("Linotte-SemiBold", '../fonts/Linotte-SemiBold');
@include font-face("Linotte-Bold", '../fonts/Linotte-Bold');
@include font-face("Linotte-Heavy", '../fonts/Linotte-Heavy');

body{
  // transition: all ease 0.3s;
  font-family: "Linotte-Light";
  background: url('../img/bkg-mountains.jpg')0 -70px;
  &.grandchild{
    background-size: cover;
  }
}
h1, h2, h3, h4, h5, h6{
  font-family: "Linotte-Regular";
}

// COLORS

// Main
$yellow:#FFD052;
$orange:#FF9B22;
$red:#ff5270;
$blue:#34B2C2;
$green:#00EAAE;

//Projects
$stroll:#f16521;
$altruism:#01806F;
$youmangi:#703532;
$scuolazooviaggi:#FFD052;
$scuolazoo:#000;


// ANIMATIONS STANDARDS
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
a{
  -o-transition:color .1s ease-out, background 2s ease-in;
  -ms-transition:color .1s ease-out, background 2s ease-in;
  -moz-transition:color .1s ease-out, background 2s ease-in;
  -webkit-transition:color .1s ease-out, background 2s ease-in;
  transition:color .1s ease-out, background 2s ease-in;
}

.row {
  max-width: 100%;
  min-height: 900px;
  height: 100%;
  position: relative;
  .contact-me{
    position: fixed;
    top: 43px;
    right: 25px;
    color: #C7C7C7;
    z-index: 1;
    font-size: 37px;
    width: 50px;
    background: #fff;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    &:hover{
      color: #000;
    }
    &.ph{
      background: transparent;
      color: #777777;
      &:hover{
        color: #fff;
      }
    }
  }
  &.child{
    img.logo{
      top: 2rem;
      bottom: auto;
      width: 9rem!important;
      height: auto!important;
      &.animated{
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -webkit-transition-property: width 2s;
      }
      &.youmangi{
        padding-top: 0!important;
        width: 15rem !important;
      }
    }
    .columns{
      ul{
        margin-left: 0;
        text-align: center;
        &.small-up-1{
          padding-top: 50px;
        }
      }
    }
    &.stroll{
      padding-top: 9rem;
      .columns{
        padding:0 2rem;
        ul{
          li{
            list-style: none;
            padding-bottom: 50px;
            &:before{
              display:inline-block;
              height: 75px;
            }
            &.quality::before{
              content: url(../img/heart.svg);
              width: 50px;
            }
            &.affordability::before{
              content: url(../img/money.svg);
              width: 50px;
            }
            &.team::before{
              content: url(../img/rocket.svg);
              width: 50px;
              transform: rotateZ(45deg);
            }
            &.mobile::before{
              content: url(../img/mobile.svg);
              width: 50px;
            }
            &.brand::before{
              content: url(../img/user.svg);
              width: 63px;
            }
            &.customize::before{
              content: url(../img/wand.svg);
              width: 50px;
            }
          }
        }
        h2{
          color:#585858;
          font-size: em(21px);
          text-align: center;
          span{
            color:$stroll;
          }
        }
        p{
          color:#7e7e7e;
          font-size: em(18px);
          text-align: center;
          font-weight: 300;
        }
        a{
          &.appstore{
            background: url("../img/app-store.gif")no-repeat;
            height: 78px;
            width: 100%;
            display: block;
            background-size: 15rem;
            background-position-x: center;
            // margin-top: 40px;
            -o-transition: color 0.5s;
            -ms-transition: color 0.5s;
            -moz-transition: color 0.5s;
            -webkit-transition: color 0.5s;
            transition: color 0.5s;
            &:hover{
              background-position-y: -79px;
            }
          }
        }
      }
    }
    &.altruism, &.scuolazooviaggi, &.scuolazoo, &.youmangi{
      padding-top: 9rem;
      .columns{
        text-align: center;
        padding:0 2rem;
        img{
          // padding-bottom: 60px;
        }
        h2{
          color:#585858;
          font-size: em(23px);
          text-align: center;
        }
        p{
          color:#7e7e7e;
          font-size: em(18px);
          text-align: center;
          font-weight: 300;
        }
        &.pic{
          img{
            padding: 30px 15px;
          }
        }
      }
    }
    &.altruism{
      .columns{
        h2{
          span{
            color:$altruism;
          }
        }
      }
    }
    &.youmangi{
      .columns{
        h2{
          color:#000;
          span{
            color:$youmangi;
          }
        }
      }
    }
    &.scuolazooviaggi{
      .columns{
        h2{
          color:#000;
        }
      }
    }
  }
  &.grandchild{
    .content{
      ul.simple{
        padding: 50px 0;
        li{
          border-radius: 25px;
          padding: 7px 27px;
          color: #fff;
          font-size: 20px;
          font-family: linotte-regular;
          margin-bottom: 17px;
          margin-right: 0;
          // &.has-tip{
          //   font-weight: 500;
          // }
        }
      }
      a{
        text-align: center;
        display: block;
        font-size: 27px;
        color: #404040;
      }
    }
    &.stroll .content ul.simple li{
      background-color: $stroll;
    }
    &.altruism .content ul.simple li{
      background-color: $altruism;
    }
    &.youmangi .content ul.simple li{
      background-color: $youmangi;
    }
    &.scuolazooviaggi .content ul.simple li{
      background-color: #000;
    }
    &.scuolazoo .content ul.simple li{
      background-color: #000;
    }
  }
  &.video{
    min-height: auto!important;
  }

  a.prev{
    position: fixed;
    top: 40px;
    left: 24px;
    width: 40px;
    background: #fff;
    height: 46px;
    z-index: 1;
    border-radius: 6px;
    &:before, &:after{
      transition:background .1s ease-in;
      content: "";
      -webkit-border-radius: 0.2em;
      border-radius: 2em;
      display: block;
      height: 0.35em;
      position: absolute;
      right: 8px;
      width: 1.5em;
    }
    &:before{
      top:1.7em;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after{
      top:0.9em;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &.home{
      &:before, &:after{
        background: #C7C7C7;
      }
      &:hover:before, &:hover:after{
        background: #000;
      }
    }
    &.ph{
        background: transparent;
      &:before, &:after{
        background: #717171;
      }
      &:hover:before, &:hover:after{
        background: #fff;
      }
    }
  }
  &.stroll{
    a.prev:before, a.prev:after{
      background: #FF9E6F;
    }
  }
  &.altruism{
    a.prev:before, a.prev:after{
      background: #BAD4D0;
    }
  }
  &.youmangi{
    a.prev:before, a.prev:after{
      background: #AF7673;
    }
  }
  &.scuolazooviaggi{
    a.prev:before, a.prev:after{
      background: #FFE192;
    }
  }
  &.scuolazoo{
    a.prev:before, a.prev:after{
      background: #FFE192;
    }
  }

}
.valign-center {
  > img.logo{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 15rem;
  }
  &.child a{
    > img.logo{
      z-index: 1;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 67px;
      bottom: auto;
      width: 9rem;
      left: 0;
      right: 0;
    }
  }
}


// SMALL

  .small-12 {
      // transition: all ease 0.3s;
      > img.logo{
        &.animated{
          -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
          animation-delay: 2s;
          -webkit-animation-delay: 2s;
          -webkit-transition-property: width 2s;
        }
      }
      &.menu-list{
        position: absolute;
        text-align: center;
        padding: 12rem 2rem 0!important;
        ul{
          font-size: 2rem;
          list-style: none;
          margin-left: 0;
          li{
            padding: 1rem 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            &#photography{
              animation-delay: 3.3s;
              -webkit-animation-delay: 3.3s;
            }
            &#design{
              animation-delay: 3.5s;
              -webkit-animation-delay: 3.5s;
            }
            &#production{
              animation-delay: 3.7s;
              -webkit-animation-delay: 3.7s;
            }
            a{
              transition: all ease 0.2s;
              color: #777;
              &:hover{
                color: $red;
              }
            }
          }
        }
        &.child{
          z-index: 0;
          ul li{
            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
            &#photography{
              animation-delay: 0s;
              -webkit-animation-delay: 0s;
            }
            &#design{
              animation-delay: 0.2s;
              -webkit-animation-delay: 0.2s;
            }
            &#production{
              animation-delay: 0.4s;
              -webkit-animation-delay: 0.4s;
            }
          }
          &:not(.home){
            a{
              color: #fff;
              :hover{
                color: #fff;
                opacity: 0.4!important;
              }
              &:hover{
                opacity: 0.4!important;
              }
            }
          }
          &.production{
            position: r;
          }
        }
        &.extra{
          bottom: 25px;
          padding: 0!important;
          ul li{
            &#contacts{
              animation-delay: 2.5s;
              -webkit-animation-delay: 2.5s;
            }
            a{
              color: #fff;
            }
          }
        }
      }
      &.design{
        a{
          display: inherit;
          color: #fff;
          padding: 30px 0;
        }
        ul li{
          padding: 0px;
          background-size: cover;
          &.stroll{
            background-image:url('../img/stroll-thumb.jpg');
            animation-delay: 0s;
            -webkit-animation-delay: 0s;
            a{
              background-color: $stroll;
              background-color: rgba(241, 101, 33, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.altruism{
            background-image:url('../img/altruism-thumb.jpg');
            animation-delay: 0.1s;
            -webkit-animation-delay: 0.1s;
            a{
              background-color: $green;
              background-color: rgba(0, 235, 174, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.youmangi{
            background-image:url('../img/youmangi-thumb.jpg');
            animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
            a{
              background-color: $youmangi;
              background-color: rgba(112, 53, 50, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          // &.scuolazoo{
          //   background-image:url('../img/behance.jpg');
          //   animation-delay: 0.3s;
          //   -webkit-animation-delay: 0.3s;
          //   a{
          //     background-color: $scuolazoo;
          //     background-color: rgba(0,0,0,0.85);
          //     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
          //     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
          //   }
          // }
          &.scuolazooviaggi{
            background-image:url('../img/szve-thumb.jpg');
            animation-delay: 0.3s;
            -webkit-animation-delay: 0.3s;
            a{
              background-color: $scuolazooviaggi;
              background-color: rgba(255,208,82,0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
              color: #000!important;
            }
          }
          &.behance{
            background-image:url('../img/behance.jpg');
            animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
            a{
              background-color: rgb(52, 178, 194);
              background-color: rgba(52, 178, 194, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.other{
            background-image:url('../img/behance.jpg');
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
            a{
              background-color: rgb(0, 234, 174);
              background-color: rgba(0, 234, 174, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
        }
      }
      &.photography{
        padding-left: 0!important;
        padding-right: 0!important;
        a{
          display: inherit;
          color: #fff;
          padding: 30px 0;
        }
        ul li{
          padding: 0px;
          background-size: cover;
          &.fivehundpx{
            background-image:url('../img/behance.jpg');
            animation-delay: 0s;
            -webkit-animation-delay: 0s;
            a{
              background-color: rgb(255, 82, 112);
              background-color: rgba(255, 82, 112, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.flickr{
            background-image:url('../img/behance.jpg');
            animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
            a{
              background-color: rgb(52, 178, 194);
              background-color: rgba(52, 178, 194, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.other{
            background-image:url('../img/behance.jpg');
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
            a{
              background-color: rgb(0, 234, 174);
              background-color: rgba(0, 234, 174, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
        }
        .slide{
          max-width: 80%;
          margin: 0 auto;
          .slick-slide{
            max-height: 700px;
            &:focus{
              outline: none!important;
            }
          }
          .slick-list{
            max-width: 85%;
            margin: 0 auto;
          }
          button{
            cursor: pointer;
            display: block;
            width: 27px;
            height: 50px;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            border: none;
            right: 10px;
            text-indent: -999em;
            overflow: hidden;
            z-index: 1;
            // opacity: 0.3;
            transition: all ease .2s;
            &:hover{
              opacity: 1;
            }
            &:focus{
              outline: none!important;
            }
          }
          .slick-prev{
            background: url('../img/arrow.svg')no-repeat;
            right: auto;
            left: 10px;
            transform: rotate(180deg);
            &.stroll{
              background: url("../img/arrow.svg") no-repeat 10px 6px;
              right: auto;
              left: 24px;
              transform: rotate(180deg);
              background-color: $stroll;
              border-radius: 6px;
              width: 40px;
              height: 46px;
              background-size: 19px;
            }
          }
          .slick-next{
            background-image: url('../img/arrow.svg');
            background-repeat: no-repeat;
            &.stroll{
              background-image: url("../img/arrow.svg");
              background-repeat: no-repeat;
              background-position:  10px 6px;
              right: 24px;
              background-color: $stroll;
              border-radius: 6px;
              width: 40px;
              height: 46px;
              background-size: 19px;
            }
          }
          img{
            &:focus{
              outline: none!important;
            }
          }
        }
        &.stroll{
          .slick-prev, .slick-next{
            background-color: $stroll!important;
          }
        }
        &.altruism{
          .slick-prev, .slick-next{
            background-color: $altruism!important;
          }
        }
        &.youmangi{
          .slick-prev, .slick-next{
            background-color: $youmangi!important;
          }
        }
        &.scuolazooviaggi{
          .slick-prev, .slick-next{
            background-color: $scuolazooviaggi!important;
          }
        }
        &.scuolazoo{
          .slick-prev, .slick-next{
            background-color: $scuolazoo!important;
          }
        }
        &.stroll, &.altruism, &.youmangi, &.scuolazooviaggi, &.scuolazoo{
          @extend button;
          .slick-prev{
            background: url("../img/arrow.svg") no-repeat 10px 6px;
            right: auto;
            left: 24px;
            transform: rotate(180deg);
            border-radius: 6px;
            width: 40px;
            height: 46px;
            background-size: 19px;
            display: block!important;
          }
          .slick-next{
            background: url("../img/arrow.svg") no-repeat 10px 6px;
            right: 24px;
            border-radius: 6px;
            width: 40px;
            height: 46px;
            background-size: 19px;
            display: block!important;
          }
        }
      }
      &.production{
        a{
          display: inherit;
          color: #fff;
          padding: 30px 0;
        }
        ul li{
          padding: 0px;
          background-size: cover;
          &.vimeo{
            background-image:url('../img/bad-thumb.jpg');
            animation-delay: 0s;
            -webkit-animation-delay: 0s;
            a{
              color: #000;
              background-color: $yellow;
              background-color: rgba(255, 208, 82, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.youtube{
            background-image:url('../img/behance.jpg');
            animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
            a{
              background-color: $red;
              background-color: rgba(255, 82, 112, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
          &.other{
            background-image:url('../img/behance.jpg');
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
            a{
              background-color: rgb(0, 234, 174);
              background-color: rgba(0, 234, 174, 0.85);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            }
          }
        }
      }
      &.columns{
        padding:0 6rem;
      }
      &.contacts{
        padding: 0;
        img{
          left: 0!important;
          top: 0!important;
          opacity: 0.2;
          z-index: -1;
        }
        div.social{
          margin-top: 160px;
          text-align: center;
          z-index: 1;
          .fa{
            font-size: 3em;
            color: #808080;
            padding-bottom: 30px;
            opacity: 0.5;
            &:hover{
              cursor: pointer;
              color:#000;
              opacity: 1;
            }
          }
        }
      }
  }

  // overlay photography
  .overlay{
    position: absolute;
    background-color: rgba(#000000, 0.75);
    width:100%;
    height: 100%;
    z-index: -1;
  }

  // vimeo embed
  .embed-container {
    position: initial;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe, object, embed{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 50px;
    background: url("../img/close.svg");
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    }
  }





  // MEDIUM

  .menu-list a.medium-4{
    padding-left:0;
    padding-right:0;
  }

@media screen and (max-width: 50em) {
  body{
    background-position: 0 -150px;
  }
  .small-12{
    &.child{
      img.logo{
        top: 40px!important;
      }
      &.stroll, &.altruism, &.youmangi, &.scuolazooviaggi, &.scuolazoo {
        .columns.list{
          clear: both;
        }
        .slide{
          padding: 3rem 0;
          .slick-list{
            max-width: 88%;
            .slick-slide{
              img{
                max-width: 90%;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    &.grandchild{
      height: 75%;
      h2{
        font-size: em(25px);
      }
    }
    &.menu-list{
      padding: 9rem 0 !important;
      &.child{
        padding: 9rem 0!important;
      }
    }
    .slide{
      max-width: 100%!important;
      margin: 0 auto!important;
      .slick-slide{
      }
      .slick-list{
        max-width: 100%!important;
      }
      &.ph{
        .slick-prev{
          opacity: 0.2;
        }
        .slick-next{
          opacity: 0.2;
        }
      }
    }
    &.contacts{
      padding: 0;
      img{
        padding: 0;
        position: absolute;
        left: -40%;
        top: -45%;
      }
      .fa{
        font-size: 4em;
        padding-bottom: 80px;
      }
    }
  }
  .overlay{
    background-color: rgba(#000000, 0.85);
  }
}


  // LARGE

  @media screen and (min-width: 50em) {
    body{
      &#design{
        background-size: inherit!important;
      }
      &.grandchild{
        background-size: inherit!important;
      }
    }
    .row{
      &.grandchild{
        min-height: auto;
        .container{
          display: block;
          max-height: 615px;
          height: 100%;
          .large-uncentered.valign-center{
            float:right!important;
            &.stroll, &.altruism, &.youmangi, &.scuolazooviaggi, &.scuolazoo{
              height: 100%;
              display: table;
              div.content{
                vertical-align: middle;
                display: table-cell;
                ul.simple{
                  padding: 30px 0;
                  li{
                    padding: 7px 38px;
                    font-size: 21px;
                    margin-right: 1rem;
                  }
                }
                a{
                  text-align: center;
                  display: block;
                  font-size: 27px;
                  color: #404040;
                }
              }
            }
          }
        }
        &#youmangi{
          .container{
            max-height: 455px;
          }
        }
      }
    }
    .small-12.list{
      clear: both;
    }
    .row{
      &.grandchild{
        padding-top: 13rem!important;
        padding-left: 5rem;
        padding-right: 5rem;
        // height:auto;
        .columns{
          .logo{
            width: 12rem!important;
            &.youmangi{
              width: 17rem!important;
              padding-top: 0!important;
            }
          }
          ul{
            li{
              padding-bottom: 50px;
            }
          }
          h2{
            font-size: em(33px)!important;
            span{
            }
          }
          a{
            &.appstore{
              background: url("../img/app-store.gif")no-repeat;
              height: 78px;
              width: 100%;
              display: block;
              background-size: 15rem;
              background-position-x: center;
              // margin-top: 40px;
              -o-transition: color 0.5s;
              -ms-transition: color 0.5s;
              -moz-transition: color 0.5s;
              -webkit-transition: color 0.5s;
              transition: color 0.5s;
              &:hover{
                background-position-y: -79px;
              }
            }
          }
          p{
            font-size: em(18px);
          }
          .slide{
            button{
              background: none!important;
              width: 33px;
              &.slick-prev{
                left:-30px;
                height: 4em;
                background-color: none!important;

              }
              &.slick-next{
                right:-20px;
                height: 4em;
              }
            }
            button.slick-prev:before, button.slick-prev:after, button.slick-next:before, button.slick-next:after{
              content: "";
              -webkit-border-radius: 0.2em;
              border-radius: 2em;
              display: block;
              height: 0.45em;
              position: absolute;
              right: 0;
              width: 2.2em;
            }
            button.slick-prev:before, button.slick-next:before{
              top: 2em;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            button.slick-prev:after, button.slick-next:after{
              top: 0.66em;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            .slick-list{
              top:50%;
              .slick-slide{
                img{
                  margin: 0 auto;
                }
              }
            }
          }
          &.stroll{
            .slide{
              button:before, button:after{
                background: #FF9560;
              }
            }
          }
          &.altruism{
            .slide{
              button:before, button:after{
                background: #78BFB4;
              }
            }
          }
          &.youmangi{
            .slide{
              button:before, button:after{
                background: #AF7673;
              }
            }
          }
          &.scuolazooviaggi{
            .slide{
              button:before, button:after{
                background: #FFDB79;
              }
            }
          }
          &.scuolazoo{
            .slide{
              button:before, button:after{
                background: #000;
              }
            }
          }
        }
        &#stroll{
          min-height: auto;
        }
        &#altruism{
          height: 55%;
        }
      }
      &.contacts{
        padding: 0;
        img{
          padding: 0;
          position: absolute;
          left: 0%;
          top: -45%;
          display: block;
          opacity: 1;
        }
        div.social{
          margin-top: 230px;
          .fa{
            font-size: 4em;
            padding-bottom: 80px;
            &.fa-envelope-o{
              float: left;
            }
          }
        }
      }
    }
  }
